/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body > section{
    clear: both;
    padding: 50px 0;
}
/*===========For Navigation===========*/
.navbar-default{
    box-shadow: none;
    background-color: transparent;
    border: none;
    min-height: 90px;
    padding-top: 20px;
}

.nav > li >a{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px black;
    -webkit-text-shadow: 1px 1px 1px black;
    -moz-text-shadow: 1px 1px 1px black;
}

.nav > li >a:hover,
.nav > li >a:focus{
    background-color: #444fff;
}

.btn-default{
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.btn-default:hover,
.btn-default:focus{
    background-color: #444fff;
}


/*===========For Information===========*/
#login{
    padding-top: 200px;
}
/*===========For slider===========*/
section#slider{
    min-height:360px;
    padding: 0; 
}

/*===========For Information===========*/
.blue-circle img{
  min-height: 50px;
}


/*===========For Login form===========*/
.wrapper {  
    margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
  .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

/*===========For buttons===========*/

#imageContainer1{
    padding-top: 150px;
    margin: 0 auto;
    height: 350px;
    min-width: 1363px;
    background-image: url(../img/slider12.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    color: #ffffff;
}

#imageContainer2{
    padding-top: 150px;
    margin: 0 auto;
    height: 350px;
    min-width: 1363px;
    background-image: url(../img/slider21.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    color: #ffffff;
}

#imageContainer3{
    padding-top: 150px;
    margin: 0 auto;
    height: 350px;
    min-width: 1363px;
    background-image: url(../img/slider31.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    color: #ffffff;
}
/*===========================================================
                        For Admin Page
===========================================================*/
.adminC{
    padding-top: 100px;
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}

.adding{
    background-color: #b5afaf;
}

.carousel-control{
    height: 360px;
}

#imageContainer{
  margin: 0 auto;
    height: 360px;
    min-width: 1363px;
    background-image: url(../img/slider4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    color: #ffffff;
}

/*===========For About us===========*/
#about{
    padding-top: 0px;
    padding-bottom: 130px;
}

.imageC{
    margin: 0 auto;
    height: 360px;
    min-width: 400px;
    background-image: url(../img/img1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    color: #ffffff;
}

.imageC h2{
    padding-top: 130px;
    font-weight: bolder;
}

section#about{
    height: 100px;
}

/*===========For Footer===========*/
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}